.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #D4F1F4;
  padding: 20px;
  position: relative; /* For positioning the button */
}

.home-container h1 {
  color: #05445E;
  margin-bottom: 20px;
}

.post-form {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.post-form textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #75E6DA;
  border-radius: 5px;
}

.post-form button {
  background-color: #189AB4;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.post-list {
  width: 100%;
  max-width: 400px;
}

.post {
  background-color: #FFFFFF;
  border: 1px solid #75E6DA;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.sign-out-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #189AB4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sign-out-button:hover {
  background-color: #05445E;
}
