.notfound-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
  background-color: #D4F1F4; /* Light background */
  text-align: center; /* Center text alignment */
}

.notfound-title {
  font-size: 4rem;
  color: #05445E; /* Dark color for title */
}

.notfound-subtitle {
  font-size: 1.5rem;
  color: #189AB4; /* Second color for subtitle */
}

.notfound-message {
  font-size: 1rem;
  color: #189AB4;
  margin: 10px 0;
}

.notfound-link {
  color: #75E6DA; /* Color for link */
  text-decoration: underline;
}

.notfound-link:hover {
  color: #05445E; /* Darker color on hover */
}
