/* SidebarOption.css */
.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  transition: background-color 100ms ease-out;
  color: #05445E;
}

.sidebarOption:hover {
  background-color: #75E6DA;
  border-radius: 30px;
  color: #189AB4;
}

.sidebarOption__icon {
  padding: 10px;
  font-size: 20px;
  color: #05445E;
}

.sidebarOption > h2 {
  font-weight: 800;
  font-size: 20px;
  margin-left: 15px;
}

.sidebarOption--active {
  color: #189AB4;
}

@media (max-width: 768px) {
  .sidebarOption__icon {
    font-size: 18px;
  }

  .sidebarOption > h2 {
    font-size: 16px;
  }
}
